body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.5em;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
}

h3 {
  font-family: "Montserrat";
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

.phone-img {
  position: relative;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */

#testimonials {
  color: #fff;
  text-align: center;
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

.testinomials-img {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.image-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 5% 3%;
}

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}

#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.icons {
  margin: 10px 7px;
}
